@import "../partials/partials"; 


.game-page {
    width: 100%; 
    height: auto; 
    @extend .center; 
    flex-direction: column; 
    font-size: $sub-font; 

    .game-top-content-container {
        width: 100%; 
        background-color: $main-light; 
        @extend .center; 
        padding: 35px 0px; 
        padding-top: 100px; 

        .game-top-content {
            width: 85%; 
            @extend .center; 
            flex-direction: column; 

            #img-container {
                width: 95%; 
                @extend .center; 
                justify-content: space-between; 

                img {
                    width: 80px; 
                    height: auto; 
                    max-height: 85px; 
                } 

                svg {
                    width: 80px; 
                    height: 80px; 
                }
            } 

            #team-name-container {
                width: 100%; 
                @extend .center; 
                justify-content: space-between; 
                margin: 15px 0px; 

                a, h2 {
                    width: 100px; 
                    margin: 0px; 
                    font-size: $title-font - 1.15em; 
                    font-family: $title-family; 
                    text-align: center; 
                    color: $tertiary-color; 
                    text-decoration: none; 
                }
            } 

            #score-container {
                width: 50%; 
                font-size: $title-font; 
                font-family: $title-family; 
                text-align: center; 
                color: $highlight-color; 
            }
        }
    } 

    .game-content-container {
        width: 100%; 
        @extend .center; 
        flex-direction: column; 

        .first-3-content-container {
            width: 100%; 
            @extend .center; 
            flex-direction: column; 
        }

        .stats-container {
            width: 85%; 
            padding: 25px 0px; 
            margin: 15px 0px; 
            background-color: $main-light; 
            border-radius: 15px; 
            @extend .center; 
            flex-direction: column; 

            .stats-name-label {
                width: 80%; 
                padding-bottom: 20px; 
                border-bottom: 2px solid $main-color; 
                text-align: center; 
                
                h4 {
                    margin: 0px; 
                    font-size: $title-font - 1em; 
                    font-family: $title-family;
                }
            } 

            .single-top-bottom-content {
                width: 80%; 
                @extend .center; 
                flex-direction: column; 
                padding-top: 35px; 

                #big-text {
                    font-family: $title-family; 
                    font-size: $sub-font + 0.10em; 
                } 

                p {
                    font-family: $sub-family; 
                    font-size: $sub-font - 0.15em; 
                    color: $highlight-color; 
                }

                .top-text-bottom-content {
                    width: 100%; 
                    @extend .center; 
                    flex-direction: column; 
                    padding-bottom: 25px; 

                    span {
                        font-size: $sub-font; 
                        font-family: $sub-family;
                    }

                    .left-bar-right {
                        width: 100%; 
                        @extend .center; 
                        justify-content: space-between; 

                        #left-text {
                            width: 15%; 
                            font-size: $sub-font; 
                            font-family: $title-family; 
                            color: $highlight-color; 
                            text-align: left; 
                        } 

                        #right-text {
                            width: 15%; 
                            font-size: $sub-font; 
                            font-family: $title-family; 
                            color: $highlight-color; 
                            text-align: right; 
                        }

                        .middle-text {
                            font-size: $sub-font - .15em; 
                            font-family: $sub-family; 
                        }

                        .bar-container {
                            width: 60%; 
                            display: flex;
                            justify-content: space-evenly;

                            #bar-left {
                                height: 5px; 
                                border-top-left-radius: 20px; 
                                border-bottom-left-radius: 20px; 
                                background-color: red; 
                            }

                            #bar-right {
                                height: 5px; 
                                border-top-right-radius: 20px; 
                                border-bottom-right-radius: 20px; 
                                background-color: blue; 
                            }
                        }
                    }
                } 
            }

            .stats-left-right {
                width: 75%; 
                @extend .center; 
                justify-content: space-between; 
                padding-top: 35px; 
                padding-bottom: 15px; 

                #single-content {
                    font-size: $sub-font + 0.10em; 
                    font-family: $sub-family;
                } 

                #top-bottom-content {
                    @extend .center; 
                    flex-direction: column; 
                    text-align: center; 

                    #big-text {
                        font-family: $title-family; 
                        font-size: $sub-font + 0.10em; 
                    } 

                    p {
                        font-family: $sub-family; 
                        font-size: $sub-font - 0.15em; 
                        color: $highlight-color; 
                    }
                }
            }
        }
    }
} 

#left-text {
    text-align: left; 
} 

#right-text {
    text-align: right; 
} 

@media only screen and (min-width: 800px) {
    .game-page .game-top-content-container .game-top-content #img-container {
        width: 80%; 
    } 

    .game-page .game-top-content-container .game-top-content #team-name-container {
        width: 80%; 
    }
} 

@media only screen and (min-width: 1024px) {
    .game-page .game-top-content-container .game-top-content #img-container {
        width: 70%; 
    } 

    .game-page .game-top-content-container .game-top-content #team-name-container a, .game-page .game-top-content-container .game-top-content #team-name-container h2 {
        font-size: $sub-font + 0.35em; 
        width: auto; 
    } 

    .game-page .game-content-container .stats-container .stats-left-right #top-bottom-content #big-text {
        font-size: $sub-font + 0.25em; 
    }

    .game-page .game-content-container .stats-container .stats-left-right #top-bottom-content p {
        font-size: $sub-font; 
    } 

    .game-page .game-content-container .stats-container .stats-name-label h4 {
        font-size: $sub-font + 0.35em; 
    } 

    .game-page .game-content-container .stats-container .stats-left-right #single-content {
        font-size: $sub-font + 0.25em; 
    } 

    .game-page .game-content-container .stats-container .single-top-bottom-content p {
        font-size: $sub-font; 
    } 

    .game-page .game-content-container .stats-container .single-top-bottom-content #big-text {
        font-size: $sub-font + 0.25em; 
    } 

    .game-page .game-content-container .stats-container .single-top-bottom-content .top-text-bottom-content span {
        font-size: $sub-font + 0.15em; 
    } 

    .game-page .game-content-container .stats-container .single-top-bottom-content .top-text-bottom-content .left-bar-right .middle-text {
        font-size: $sub-font; 
    } 

    .game-page .game-content-container .stats-container .single-top-bottom-content .top-text-bottom-content .left-bar-right #left-text {
        font-size: $sub-font + 0.15em; 
    } 

    .game-page .game-content-container .stats-container .single-top-bottom-content .top-text-bottom-content .left-bar-right #right-text {
        font-size: $sub-font + 0.15em; 
    } 

    .game-page .game-content-container .stats-container .single-top-bottom-content .top-text-bottom-content .left-bar-right .bar-container #bar-left {
        height: 8px; 
    }

    .game-page .game-content-container .stats-container .single-top-bottom-content .top-text-bottom-content .left-bar-right .bar-container #bar-right {
        height: 8px; 
    }
} 

@media only screen and (min-width: 1500px) {
    .game-page .game-content-container .stats-container {
        width: 65%; 
    } 

    .game-page .game-top-content-container .game-top-content #img-container {
        width: 60%; 
    } 

    .game-page .game-top-content-container .game-top-content #team-name-container {
        width: 70%; 
    }
} 

@media only screen and (min-width: 2000px) {
    .game-page .game-content-container .stats-container {
        width: 50%; 
    } 

    .game-page .game-top-content-container .game-top-content #img-container {
        width: 50%; 
    } 

    .game-page .game-top-content-container .game-top-content #team-name-container {
        width: 55%; 
    }
}
